body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color:#333;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin :0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    color: #444;
}

input,button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#verse-of-the-day #reading-tracker #search {
   margin-bottom: 20px;
}

#calendar {
   max-width: 900px;
   margin:20px auto;
   padding: 20px;
   background-color: #fff;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
#google-search {
    margin: 20px 0;
}

.gsce-search {
    max-width: 600px;
    margin: 0 auto;
}

#chatgpt {
    margin: 20px 0;
}

#chatgpt-input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chatgpt-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #28a745;
    cursor: pointer;
}

#chatgpt-button:hover {
    background-color: #218838;
}

#chatgpt-response {
    margin-top: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ddd;
}

#reading-progress {
    margin: 20px auto;
    float: jusitify;
    
}